### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np


# File to Load (Remember to Change These)
file_to_load = "purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [2]:
# Find the number of unique player
player_count = purchase_data["SN"].nunique()

# get the data
data = [[player_count]]
playerTotal = pd.DataFrame(data,columns=['Total Players'])            

# display the new dataframeplae
playerTotal

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [3]:
# calculate the number of unique items
num_uitems = len(purchase_data["Item ID"].unique())

# calculate the average item prices
price = round(purchase_data["Price"].astype(float).mean(), 2)

# calculate the total revenue
revenue = purchase_data["Price"].astype(float).sum()


# Display the aummary data frame
summary_price = pd.DataFrame({"Number of Unique Items": [num_uitems], "Average Price": '${:,.2f}'.format(price), 
                              "Number of Purchases": purchase_data["Purchase ID"].count(), 
                              "Total Revenue": '${:,.2f}'.format(revenue)})
summary_price

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [4]:
# remove the duplicate user base on 'SN', and create a new dataframe
uniqueplayer = purchase_data.drop_duplicates(['SN'], keep='last')

#  find thr male total count
maleCount = uniqueplayer.loc[uniqueplayer.Gender == 'Male', 'Gender'].count()
#  Find the percentage of male player
malePercent = round((maleCount/player_count)*100, 2)

#  find the female total count
femaleCount = uniqueplayer.loc[uniqueplayer.Gender == 'Female', 'Gender'].count()
#  Find the percentage of female player
femalePercent = round((femaleCount/player_count)*100, 2)

#  find the other total count
otherCount = uniqueplayer.loc[uniqueplayer.Gender == 'Other / Non-Disclosed', 'Gender'].count()
#  Find the percentage of other player
otherPercent = round((otherCount/player_count)*100, 2)


# Create a new dataframe and fill in data
genderdata = {'Total Count':[maleCount, femaleCount, otherCount], 'Percentage of Players':[malePercent, femalePercent, otherPercent]}
genderTable = pd.DataFrame(genderdata, columns=['Total Count','Percentage of Players'], index=['Male','Female','Other / Non-Disclosed'])
genderTable

                       Total Count  Percentage of Players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender
* Create a summary data frame to hold the results
* Optional: give the displayed data cleaner formatting
* Display the summary data frame

In [5]:
# calculate the purchase count by gender
gendercount = purchase_data.groupby(["Gender"]).size()

# Calculate the Average Purchase Price by Gender
average_purchase_price = round(purchase_data.groupby(["Gender"])["Price"].mean(), 2).map("${:.2f}".format)

# Calculate the Total Purchase Value by gender
total_purchase_value = round(purchase_data.groupby(["Gender"])["Price"].sum(), 2).map("${:.2f}".format)


# Calculate the Avg Total Purchase per Person
total_purchase_valuec = round(purchase_data.groupby(["Gender"])["Price"].sum(), 2)
femaleAveTotal = round(total_purchase_valuec[0]/femaleCount, 2)
maleAveTotal = round(total_purchase_valuec[1]/maleCount, 2)
otherAveTotal = round(total_purchase_valuec[2]/otherCount, 2)

purchaseAnalysisGender = pd.DataFrame({'Purchase Count' : gendercount,
                                      'Average Purchase Price' : average_purchase_price,
                                      'Total Purchase Value' : total_purchase_value,
                                      'Avg Total Purchase per Person' : ['${:,.2f}'.format(femaleAveTotal), '${:,.2f}'.format(maleAveTotal), 
                                                                         '${:,.2f}'.format(otherAveTotal)]}).reset_index()

purchaseAnalysisGender

,Gender,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
0,Female,113,$3.20,$361.94,$4.47
1,Male,652,$3.02,$1967.64,$4.07
2,Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [31]:

# Create bins in which to place values based upon player age
bins = [0, 9, 14, 19, 24, 29,34, 39, 110]

# Create labels for these bins
group_labels = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34",
                "35-39", "40+"]

# Create Unique
uniqueplayerage = purchase_data.drop_duplicates(['SN'])


# plcae the data into the bin
uniqueplayerage["Total Count"] = pd.cut(uniqueplayerage["Age"], bins, labels=group_labels)

# counts for different bins
bincount = uniqueplayerage["Total Count"].value_counts()
binpercent = bincount/player_count*100

# Display the Data Frame
ageDemographics = pd.DataFrame(bincount, columns=['Total Count'])

ageDemographics['Percentage of Players'] = binpercent

ageDemographics
# Create the dataFrame
#ageDemographics = pd.DataFrame({'Total Count' : bincount,
#                              'Percentage of Players' : ['${:,.2f}'.format(binpercent)]}).reset_index()

#ageDemographics

C:\Users\helen\Anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

TypeError: unsupported format string passed to Series.__format__

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame